<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<% for(let i = 0; i< messages.length; i++) { %>
		<h1>Message: <%= messages[i].text %></h1>
		<p>Author name: <%= messages[i].user %></p>
		<p>Date added: <%= messages[i].added %></p>
		<% } %>
	</body>
</html>
